html {
  margin: auto;
  height: 100%;
  font-family: "Lucida Console", "Lucida Console", monospace;
}

body {
  background-image: linear-gradient(#baa88d, #faf6f2);
  margin: 0;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #683b2b;
  width: 100%;
  position: absolute;
  height: 60px;
  bottom: 0;
}

#intro {
  max-width: 600px;
  background-color: #d49e8d;
  padding: 20px;

  box-shadow: 10px -10px #b08401;
  border-radius: 25px;
}

img {
  height: auto;
  float: left;
  margin-left: 5%;
  box-shadow: 15px -10px #b08401;
  border-radius: 25px;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  #intro {
    margin-top: 10%;
    float: right;
  }
}

h1 {
  padding: 0;
  font-size: 2.5em;
}

p {
  line-height: 1.6;
  margin: auto;
}

nav {
  overflow: hidden;
  background-color: #683b2b;
  height: 60px;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d49e8d;
}

#copyright {
  float: right;
  color: white;
  left: 5px;
}
